* {
    font-family: 'Open Sans', sans-serif;
}


body{
        border-bottom:1px red solid;
        border-right:1px red solid;

}

body {
    margin: 0;
    padding: 1em;
    min-width:1000px;
    max-width:1000px;
    min-height:625px;
    max-height:625px;
    height:100vh;
}

h2, h3, li {
    font-family: 'Aleo', serif;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 0;
    color: #5a5a5a;
}

ul {
    padding: 0.3em 1em;
    margin: 0;
}

li {
    font-weight: bold;
    font-size: 14px;
}

img {
    width: 100%;
}

.meta-info {
    font-size: 13px;
}

.divider {
    color: #dbdbdb;
}

.time {
    color: #5a5a5a;
}

.category {
    color: #222;
}

.live {
    color: #bb1919;
    font-weight: 700;
    margin-right: 0.25em;
}

.icon {
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-bottom: -2px;
    filter: invert(32%) sepia(8%) saturate(0%) hue-rotate(174deg) brightness(93%) contrast(74%);
}

/* 
Need help? Visit this page: https://scrimba.com/links/bbc-news-solo-project-hints 

WRITE YOUR CODE BELOW 👇
*/



.grid{
    display:grid;
    grid-template: 6fr 1fr 6fr/1fr 1fr 1fr 1fr;
    gap:5px;
    grid-template-areas: "num1 num1 num1 num2"
                         "num3 num3 num3 num3"
                         "num4 num5 num6 num7";
    
}
.featured-article{
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-areas:'sp1 sp2 ';
    background:none;
    grid-area: num1;
}

.featured-article-text{
    padding-right:3px;
    grid-area: sp1;
}

.featured-article-image{
    grid-area:sp2
}

.regular-article{
    display:flex;
    flex-direction: column;
    background:none;
    padding:0px 3px;    
}

.meta-info{
    display:flex;
    margin-bottom:0; 
    padding-bottom:0;
    background:none;
    margin-top:auto;
}

.second-row{
    background:none;
    grid-area:num3;
    display:flex;
    align-content: center;
    margin: auto 3px;
    padding:0;
}





